<h1>Sign Up</h1>
<form (submit)="onClickSingUp(); $event.preventDefault()">
    <label for="username">Username</label>
    <input id="username" (input)="onChangeUsername($event)"/>

    <label for="email">Email</label>
    <input id="email" (input)="onChangeEmail($event)"/>

    <label for="password">Password</label>
    <input id="password" type="password" (input)="onChangePassword($event)" />

    <label for="passwordRepeat">Password Repeat</label>
    <input id="passwordRepeat" type="password" (input)="onChangePasswordRepeat($event)" />

    <button [disabled]="isDisabled()" >Sign Up</button>
</form>